body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
}

.ant-list {
  width: 100%;
  margin: 0 auto;
}

.RightCol {
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.actors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.actor-box {
  display: inline-block;
  padding: 3.5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, transform 0.2s;
}

.actor-box:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.actor-box:active {
  background-color: #d0d0d0;
}

.movie-page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.movie-detail-container {
  display:inline-flexbox;
  flex-direction: column;
  gap: 10px;
  flex: 5;
}

.movie-detail {
  flex: 1;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 0 auto;
}

.movie-detail2 {
  padding: 2px;
  border-radius: 2px;
  text-align: left;
  margin: 0 auto;
}

.movie-detail a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.movie-detail a:hover {
  color: #0056b3;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.moviePosterImage {
  display: block;
  margin: 0;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.movie-page-poster {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  margin: 0;
  display: block;
}
.ant-modal-close-x {
  transition: color 0.3s;
}

.ant-modal-close:hover .ant-modal-close-x {
  color: #dc3545;
}