.movie-modal .ant-modal-body {
  max-height: 80vh;
  overflow-y: auto;
  padding: 24px;
}

.modal-content-outer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-movie-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px;
}

.modal-movie-wrapper {
  width: 100%;
  max-width: none;
  margin: 0;
}

.modal-poster-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 200px;
}

.modal-poster {
  width: 200px;
  height: auto;
  margin-top: 0;
}

.movie-id-label {
  margin-top: 4px;
  font-size: 13px;
  background-color: white;
  color: gray;
  margin-bottom: 2px;
  text-align: right;
}
