
@{
    ViewBag.Title = "BatchInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Head{
    <style>
        #batchMovieList {
            height: 300px;
            width: 600px;
        }

        #batchMovieContainer {
            margin-left: 15px;
        }


        .searchedMovieName {
            color: white;
            font-size: 17px;
            font-weight: bolder;
        }

        .foundMovie {
            margin-top: 25px;
            height: 421px;
            width: 100%;
        }

        .foundMoviePoster {
            float: left;
            height: 100%;
        }

        .foundMovieFields {
            float: left;
            height: 400px;
            width: 420px;
            background-color: #dedede;
        }

        .foundMovieControls {
            float: left;
            height: 100%;
            width: 100%;
            margin-left: 10px;
        }

            .foundMovieControls input {
                margin-left: 10px;
            }

        .UpdateControlInfo {
            margin-left: 5px;
            font-family: Verdana;
            font-size: 14px;
            font-weight: bold;
            width: 105px;
            display: inline-block;
        }

        .movieField {
            margin-left: 5px;
            width: 250px;
        }

        .searchedMovieName {
            font-family: Verdana;
            font-size: 14px;
            font-weight: bold;
            margin-left: 5px;
        }

        .foundPosterImage {
            height: 400px;
        }

        .foundMovie br {
            clear: both;
        }
    </style>

    <script>
        $(function () {


            function getNewMovie(m, searchedMovie, index) {

                var foundMovieHtml = `
                    <div class ="foundMovie" id= "foundMovie_` + index + `" >
                        <span class ="searchedMovieName"> `+ searchedMovie + ` </span>
                        <br style="clear:both;"/>
                        <div class="foundMoviePoster">
                            <img class="foundPosterImage" src="`+ m.moviePoster + `" />
                        </div>
                        <div class="foundMovieFields">
                            <br/>
                            <span class="UpdateControlInfo">Title:</span>
                            <input type="text" class="movieTitleField movieField" name="movieTitle" value="`+ $.trim(m.movieName) + `" />
                            <br />
                            <span class="UpdateControlInfo">Rating:</span>
                            <input type="text" class="movieRatingField movieField" name="movieRating" value="`+ m.movieRating + `" />
                            <br />
                            <span class="UpdateControlInfo">ReleaseDate:</span>
                            <input type="text" class="movieReleaseDateField movieField" name="movieReleaseDate" value="`+ m.movieReleased + `" />
                            <br />
                            <span class="UpdateControlInfo">Runtime:</span>
                            <input type="text" class="movieRuntimeField movieField" name="movieRuntime" value="`+ m.movieRuntime + `" />
                            <br />
                            <span class="UpdateControlInfo">Genre:</span>
                            <input type="text" class="movieGenreField movieField" name="movieGenre" value="`+ m.movieGenres + `" />
                            <br />
                            <span class="UpdateControlInfo">Director:</span>
                            <input type="text" class="movieDirectorField movieField" name="movieDirector" value="`+ m.movieDirector + `" />
                            <br />
                            <span class="UpdateControlInfo">Writer:</span>
                            <input type="text" class="movieWriterField movieField" name="movieWriter" value="`+ m.movieWriter + `" />
                            <br />
                            <span class="UpdateControlInfo">Actors:</span>
                            <input type="text" class="movieActorsField movieField" name="movieActors" value="`+ m.movieActor + `" />
                            <br />
                            <span class="UpdateControlInfo">Plot:</span>
                            <input type="text" class="moviePlotField movieField" name="moviePlot" value="`+ m.moviePlot + `" />
                            <br />
                            <span class="UpdateControlInfo">PosterLink:</span>
                            <input type="text" class="moviePosterLinkField movieField" name="moviePosterLink" value="`+ m.moviePoster + `" />
                            <br />
                            <span class="UpdateControlInfo">imdbRating:</span>
                            <input type="text" class="movieimdbRatingField movieField" name="movieimdbRating" value="`+ m.movieIMDBRating + `" />
                            <br />
                            <span class="UpdateControlInfo">imdbID:</span>
                            <input type="text" class="movieimdbIDField movieField" name="movieimdbID" value="`+ m.movieIMDBID + `" />
                            <br />
                            <span class="UpdateControlInfo">tomatoRating:</span>
                            <input type="text" class ="movietomatoRatingField movieField" name="movietomatoRating" value= "`+ m.movieRottenRating + `" />
                            <br style="clear:both;" />
                            <div class ="foundMovieControls">
                                <br />
                                <input type="button" class ="insertMovieButton" id= "insertMovie_`+ index + `" value="Insert" />
                                <input type="button" class="deleteMovieButton" id= "deleteMovie_`+ index + `" value="Delete" />
                            </div>
                        </div>
                    </div>
                    <br style="clear:both" />`;

                $("#foundMovieContainer").append(foundMovieHtml);

                $("#insertMovie_" + index).click(function () {
                    var giventitle = $("#foundMovie_" + index + " .movieTitleField").val().trim();
                    var givenrated = $("#foundMovie_" + index + " .movieRatingField").val();
                    var givenreleased = $("#foundMovie_" + index + " .movieReleaseDateField").val();
                    var givenruntime = $("#foundMovie_" + index + " .movieRuntimeField").val();
                    var givengenre = $("#foundMovie_" + index + " .movieGenreField").val();
                    var givendirector = $("#foundMovie_" + index + " .movieDirectorField").val();
                    var givenwriter = $("#foundMovie_" + index + " .movieWriterField").val();
                    var givenactors = $("#foundMovie_" + index + " .movieActorsField").val();
                    var givenmovieplot = $("#foundMovie_" + index + " .moviePlotField").val();
                    var givenmovieposter = $("#foundMovie_" + index + " .moviePosterLinkField").val();
                    var givenimdbrating = $("#foundMovie_" + index + " .movieimdbRatingField").val();
                    var givenimdbid = $("#foundMovie_" + index + " .movieimdbIDField").val();
                    var giventomatorating = $("#foundMovie_" + index + " .movietomatoRatingField").val();
                    if (giventitle != "") {
                        $.post('/Movie/InsertMovie', {
                            title: giventitle, rated: givenrated, released: givenreleased, runtime: givenruntime, genre: givengenre, director: givendirector,
                            writer: givenwriter, actors: givenactors, plot: givenmovieplot, poster: givenmovieposter, imdbrating: givenimdbrating, imdbid: givenimdbid, tomatorating: giventomatorating
                        }, function () {
                            $("#foundMovie_" + index).remove();
                        });
                    }
                });


                $("#deleteMovie_" + index).click(function () {
                    $("#foundMovie_" + index).remove();
                });

                return foundMovieHtml;
            }



            $("#processBatch").click(function () {
                var movies = $("#batchMovieList").val();
                var movieList = $("#batchMovieList").val().split("\n");
                $(movieList).each(function (index, movie) {

                    $.get("/Movie/BatchGetMovie", { foundMovie: movie }, function (returnedData) {
                        getNewMovie(returnedData.value, movie, index);
                    });


                })
            });

        });
    </script>

}

<div id="batchMovieContainer">
    <textarea id="batchMovieList"></textarea>
    <br />
    <input type="button" ID="processBatch" name="processBatch" value="Process" />
</div>

<br />
<div id="foundMovieContainer">
</div>