
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>PosterCollage</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
