
@{
    Layout = null;
}

    <!DOCTYPE html>

    <html>
    <head runat="server">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <title>ImdbScrape</title>
        <script>
        $(function () {
            $.ajaxSetup({
                cache: false,
                async: false
            });

//            var givenRating = "";
//            var givenName = "";
//            var givenReleased = "";
//            var givenGenres = "";
//            var givenTime = "";
//            var givenDirector = "";
//            var givenActors = "";
//            var givenWriter = "";
//            var givenMoviePoster = "";
//            var givenImdbRating = "";
//            var givenMoviePlot = "";
//            var givenImdbId = "";

//            $("#wrapper [itemprop='name']").children().remove();

//            givenName = $.trim($("#wrapper [itemprop='name']").text());

//            givenReleased = $($("td", $(".releaseinfo tr")[1])[1]).text();

//            if ($(".infobar img").length) {
//                givenRating = $(".infobar img").attr("title").toString().replace("_", " ");
//            }

//            var articles = $("a", $("h4:contains(Genre), h4:contains(Genres)").parent());

//            $.each(articles, function (i, j) {
//                var text = $(j).text();
//                if (text != "undefined") {
//                    givenGenres += $(j).text() + " ";
//                }
//            });

//            givenTime = $("time", $("h4:contains(Runtime)").parent()).text();

//            var directors = $("#wrapper [itemprop='director']");
//            $.each(directors, function (i, j) {
//                givenDirector += $(j).text();
//                if (i < directors.length - 1) {
//                    givenDirector += ","
//                }
//            });

//            var writers = $("a", $("h4:contains(Writer), h4:contains(Writers)").parent());
//            $.each(writers, function (i, j) {
//                givenWriter += $(j).text();
//                if (i < writers.length - 1) {
//                    givenWriter += ","
//                }
//            });


//            givenImdbRating = $.trim($(".star-box-giga-star").text());

//            givenMoviePlot = $("#wrapper [itemprop='description']");

//            var actors = $(".cast_list .name:lt(5)");
//            $.each(actors, function (i, j) {
//                givenActors += $.trim($(j).text());
//                if (i < actors.length - 1) {
//                    givenActors += ","
//                }
//            });

//            givenMoviePoster = $("#img_primary [itemprop = 'image']").attr("src").split("._")[0];

//            givenImdbId = location.href.split("/")[4];


//            $("#ratingField").val(givenRating);
//            $("#nameField").val(givenName);
//            $("#releasedField").val(givenReleased);
//            $("#genresField").val(givenGenres);
//            $("#timeField").val(givenTime);
//            $("#directorField").val(givenDirector);
//            $("#actorsField").val(givenActors);
//            $("#writerField").val(givenWriter);
//            $("#movieposterField").val(givenMoviePoster);
//            $("#imdbratingField").val(givenImdbRating);
//            $("#movieplotField").val(givenMoviePlot);
//            $("#imdbidField").val(givenImdbId);

        });
        </script>
    </head>
    <body>
        <div id="imdbScrapeData">
            <span id="ratingField"></span>
            <span id="nameField"></span>
            <span id="releasedField"></span>
            <span id="genresField"></span>
            <span id="timeField"></span>
            <span id="directorField"></span>
            <span id="actorsField"></span>
            <span id="writerField"></span>
            <span id="movieposterField"></span>
            <span id="imdbratingField"></span>
            <span id="movieplotField"></span>
            <span id="imdbidField"></span>
        </div>
        <div id="imdbBody">

        </div>
    </body>
</html>
